page-about {

}

#click1 {
    position: absolute;
    top: 90%;
    left: 2%;
  }

  #button1 {
    position: absolute;
    top: 6%;
    right: 5%;
  }

  #button2 {
    position: absolute;
    top: 17%;
    right: 5%;
  }

  #button3 {
    position: absolute;
    top: 28.5%;
    right: 5%;
  }

  #search {
      top: .2%;
    }

  #click2 {
      position: absolute;
      top: 90%;
      right: 2%;
    }
